{% extends 'base.html' %}

{% block content %}

	<h1>Compare</h1>

	<br></br>
	<h3>Compare Two Districts:</h3>

	<div class="container">
	    <form method="GET" action="{% url 'compare' %}">
	        <div class="form-group row">
		        <div class="col-md-6">
			        <label for="districtCompareSelectCounty">Select County 1</label>
			        <select class="form-control" id="districtCompareSelectCounty" name="districtCompareCounty" onchange="this.form.submit()">
			            	
			            <option value="" {% if not selected_county %} disabled selected{% endif %}>Select a County</option>

			            {% for county in county_list %}
				            <option value="{{ county.county_id }}" {% if selected_county.county_id == county.county_id %}selected{% endif %}>{{ county.county_name }}</option>
			            {% endfor %}
			           </select>
			    </div>

			    <div class="col-md-6">
	                <label for="districtCompareSelectCounty2">Select County 2</label>
	                <select class="form-control" id="districtCompareSelectCounty2" name="districtCompareCounty2" onchange="this.form.submit()">
	                    <option value="" {% if not selected_county2 %} disabled selected{% endif %}>Select a County</option>
	                    {% for county in county_list %}
	                        <option value="{{ county.county_id }}" {% if selected_county2.county_id == county.county_id %}selected{% endif %}>{{ county.county_name }}</option>
	                    {% endfor %}
	                </select>
	            </div>
			</div>

			<div class="form-group row">
	        	<div class="col-md-6">
	            	<label for="districtCompareSelectDistrict">Select District 1</label>
	            	<select class="form-control" id="districtCompareSelectDistrict" name="districtCompareDistrict" onchange="this.form.submit()">
	            		<option value="" {% if not selected_district %}disabled selected{% endif %}>Select a District</option>

	            		{% for district in dist_in_county %}
		            		<option value="{{ district.district_aun }}" {% if selected_district.district_aun == district.district_aun %}selected{% endif %}>{{ district.district_name }}</option>
	            		{% endfor %}
	            	</select>
	        	</div>

	        	<div class="col-md-6">
	                <label for="districtCompareSelectDistrict2">Select District 2</label>
	                <select class="form-control" id="districtCompareSelectDistrict2" name="districtCompareDistrict2" onchange="this.form.submit()">
	                    <option value="" {% if not selected_district2 %}disabled selected{% endif %}>Select a District</option>
	                    {% for district in dist_in_county2 %}
	                        <option value="{{ district.district_aun }}" {% if selected_district2.district_aun == district.district_aun %}selected{% endif %}>{{ district.district_name }}</option>
	                    {% endfor %}
	                </select>
	            </div>
			</div>
	    </form>
	</div>

	{% if selected_district and selected_district2 %}
		<br></br>
		<h3>{{ selected_district }}</h3>
			{% if cat_info %}
				<h3>{{ table_name }}</h3>
				<div class="table-responsive">
					<table class="table table-striped">
			  			<thead class="thead-dark">
				    		<tr>
				    		{% for header in cat_headers %}
				    			<th scope="col">{{ header }}</th>
				    		{% endfor %}
				    		</tr>
			  			</thead>
				  		<tbody>
					  		{% if selected_year != 'all-years' %}
					  			<tr>
						  			{% for info in cat_info %}
						      			<td>{{ info }}</td>
						      		{% endfor %}
						    	</tr>
					  		{% else %}
					  			{% for info in cat_info %}
							  		<tr>
							  			{% for value in info.values %}
							      			<td>{{ value }}</td>
							      		{% endfor %}
							    	</tr>
								{% endfor %}
					  		{% endif %}
				  		</tbody>
					</table>
				</div>
			{% endif %}

			{% if cat_info2 %}
				<h3>{{ table_name2 }}</h3>
				<div class="table-responsive">
					<table class="table table-striped">
			  			<thead class="thead-dark">
				    		<tr>
				    			{% for header in cat_headers2 %}
				    				<th scope="col">{{ header }}</th>
				    			{% endfor %}
				    		</tr>
			  			</thead>
			  			<tbody>
			  				{% if selected_year != 'all-years' %}
			  					<tr>
				  					{% for info in cat_info2 %}
				      					<td>{{ info }}</td>
				      				{% endfor %}
				    			</tr>
			  				{% else %}
			  					{% for info in cat_info2 %}
					  				<tr>
					  					{% for value in info.values %}
					      					<td>{{ value }}</td>
					      				{% endfor %}
					    			</tr>
								{% endfor %}
			  				{% endif %}
			  			</tbody>
					</table>
				</div>
			{% endif %}

			{% if cat_info3 %}
				<h3>{{ table_name3 }}</h3>
				<div class="table-responsive">
					<table class="table table-striped">
					  <thead class="thead-dark">
						    <tr>
						    	{% for header in cat_headers3 %}
						    		<th scope="col">{{ header }}</th>
						    	{% endfor %}
						    </tr>
					  </thead>
					  <tbody>
					  	{% if selected_year != 'all-years' %}
					  		<tr>
						  		{% for info in cat_info3 %}
						      		<td>{{ info }}</td>
						      	{% endfor %}
						    </tr>
					  	{% else %}
					  		{% for info in cat_info3 %}
							  	<tr>
							  		{% for value in info.values %}
							      		<td>{{ value }}</td>
							      	{% endfor %}
							    </tr>
							{% endfor %}
					  	{% endif %}
					  </tbody>
					</table>
				</div>
			{% endif %}

			<br></br>
			<h3>{{ selected_district2 }}</h3>
			{% if cat_info_compare %}
				<h3>{{ table_name }}</h3>
				<div class="table-responsive">
					<table class="table table-striped">
			  			<thead class="thead-dark">
				    		<tr>
				    		{% for header in cat_headers_compare %}
				    			<th scope="col">{{ header }}</th>
				    		{% endfor %}
				    		</tr>
			  			</thead>
				  		<tbody>
					  		{% if selected_year != 'all-years' %}
					  			<tr>
						  			{% for info in cat_info_compare %}
						      			<td>{{ info }}</td>
						      		{% endfor %}
						    	</tr>
					  		{% else %}
					  			{% for info in cat_info_compare %}
							  		<tr>
							  			{% for value in info.values %}
							      			<td>{{ value }}</td>
							      		{% endfor %}
							    	</tr>
								{% endfor %}
					  		{% endif %}
				  		</tbody>
					</table>
				</div>
			{% endif %}

			{% if cat_info2_compare %}
				<h3>{{ table_name2 }}</h3>
				<div class="table-responsive">
					<table class="table table-striped">
			  			<thead class="thead-dark">
				    		<tr>
				    			{% for header in cat_headers2_compare %}
				    				<th scope="col">{{ header }}</th>
				    			{% endfor %}
				    		</tr>
			  			</thead>
			  			<tbody>
			  				{% if selected_year != 'all-years' %}
			  					<tr>
				  					{% for info in cat_info2_compare %}
				      					<td>{{ info }}</td>
				      				{% endfor %}
				    			</tr>
			  				{% else %}
			  					{% for info in cat_info2_compare %}
					  				<tr>
					  					{% for value in info.values %}
					      					<td>{{ value }}</td>
					      				{% endfor %}
					    			</tr>
								{% endfor %}
			  				{% endif %}
			  			</tbody>
					</table>
				</div>
			{% endif %}

			{% if cat_info3_compare %}
				<h3>{{ table_name3 }}</h3>
				<div class="table-responsive">
					<table class="table table-striped">
					  <thead class="thead-dark">
						    <tr>
						    	{% for header in cat_headers3_compare %}
						    		<th scope="col">{{ header }}</th>
						    	{% endfor %}
						    </tr>
					  </thead>
					  <tbody>
					  	{% if selected_year != 'all-years' %}
					  		<tr>
						  		{% for info in cat_info3_compare %}
						      		<td>{{ info }}</td>
						      	{% endfor %}
						    </tr>
					  	{% else %}
					  		{% for info in cat_info3_compare %}
							  	<tr>
							  		{% for value in info.values %}
							      		<td>{{ value }}</td>
							      	{% endfor %}
							    </tr>
							{% endfor %}
					  	{% endif %}
					  </tbody>
					</table>
				</div>
			{% endif %}
	{% endif %}

	<br></br>
	<h3>Compare Two Schools:</h3>

	<br></br>
	<h3>Compare a School to its District:</h3>

{% endblock %}