{% extends 'base.html' %}

{% block content %}

	<h1>District View for {{ district_info.district_name }}</h1>
	<div class="card" style="width: 18rem;">
	  <div class="card-body">
	    <h5 class="card-title">Schools in {{ district_info.district_name }}</h5>
	    {% for school in school_info %}
	    	<a href="{% url 'school-view' school.school_id %}" class="card-link">{{ school.school_name }}</a>
	    {% endfor %}
	  </div>
	</div>

	{% if fast_facts %}
	<br></br>
	<h3>Contact Information:</h3>
	<div class="table-responsive">
		<table class="table table-striped">
		  <thead class="thead-dark">
		    <tr>
		      <th scope="col">Street</th>
		      <th scope="col">City</th>
		      <th scope="col">Zip Code</th>
		      <th scope="col">Website</th>
		      <th scope="col">Phone Number</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>{{ fast_facts.street_address }}</td>
		      <td>{{ fast_facts.city_address }}</td>
		      <td>{{ fast_facts.zip_code }}</td>
		      <td>{{ fast_facts.website }}</td>
		      <td>{{ fast_facts.phone_num }}</td>
		    </tr>
		  </tbody>
		</table>
	</div>
	{% endif %}

	<br></br>

	<div class="container">
	    <form method="GET" action="{% url 'year_view_district' district_info.district_aun %}">
	        <div class="form-group">
	            <label for="yearSelectDistrict">Choose Year</label>
	            <select class="form-control" id="yearSelectDistrict" name="yearDistrict" onchange="this.form.submit()">
	            	<option value="all-years" {% if selected_year == 'all-years' %}selected{% endif %}>All Years</option>
	                <option value="20222023" {% if selected_year == '20222023' %}selected{% endif %}>2022-2023</option>
	                <option value="20212022" {% if selected_year == '20212022' %}selected{% endif %}>2021-2022</option>
	                <option value="20202021" {% if selected_year == '20202021' %}selected{% endif %}>2020-2021</option>
	                <option value="20192020" {% if selected_year == '20192020' %}selected{% endif %}>2019-2020</option>
	                <option value="20182019" {% if selected_year == '20182019' %}selected{% endif %}>2018-2019</option>
	                <option value="20172018" {% if selected_year == '20172018' %}selected{% endif %}>2017-2018</option>
	                <option value="20162017" {% if selected_year == '20162017' %}selected{% endif %}>2016-2017</option>
	                <option value="20152016" {% if selected_year == '20152016' %}selected{% endif %}>2015-2016</option>
	                <option value="20142015" {% if selected_year == '20142015' %}selected{% endif %}>2014-2015</option>
	                <option value="20132014" {% if selected_year == '20132014' %}selected{% endif %}>2013-2014</option>
	                <option value="20122013" {% if selected_year == '20122013' %}selected{% endif %}>2012-2013</option>
	                <option value="20112012" {% if selected_year == '20112012' %}selected{% endif %}>2011-2012</option>
	                <option value="20102011" {% if selected_year == '20102011' %}selected{% endif %}>2010-2011</option>
	                <option value="20092010" {% if selected_year == '20092010' %}selected{% endif %}>2009-2010</option>
	                <option value="20082009" {% if selected_year == '20082009' %}selected{% endif %}>2008-2009</option>
	                <option value="20072008" {% if selected_year == '20072008' %}selected{% endif %}>2007-2008</option>
	            </select>
	        </div>
	        <div class="form-group">
	            <label for="categorySelectDistrict">Choose Category</label>
	            <select class="form-control" id="categorySelectDisrict" name="categoryDistrict" onchange="this.form.submit()">
	            	<option value="" {% if not selected_cat %} disabled selected{% endif %}>Select a Category</option>
	            	<option value="demographic" {% if selected_cat == 'demographic' %}selected{% endif %}>Demographic</option>
	                <option value="fiscal" {% if selected_cat == 'fiscal' %}selected{% endif %}>Fiscal</option>
	                <option value="aid_ratio" {% if selected_cat == 'aid_ratio' %}selected{% endif %}>Aid Ratio</option>
	            </select>
	        </div>

	        <div class="form-group">
		        <label for="trendAttrSelectDistrict">Choose Attribute</label>
		        <select class="form-control" id="trendAttrSelectDistrict" name="trendAttrDistrict" onchange="this.form.submit()">
		        	<option value="" {% if not selected_attr %} disabled selected{% endif %}>Select an Attribute</option>
		           	{% for verbose_attr, name_attr in attributes %}
				        <option value="{{ name_attr }}" {% if selected_attr == name_attr %}selected{% endif %}>{{ verbose_attr }}</option>
			        {% endfor %}
			        {% for verbose_attr, name_attr in attributes2 %}
				        <option value="{{ name_attr }}" {% if selected_attr == name_attr %}selected{% endif %}>{{ verbose_attr }}</option>
			        {% endfor %}
			        {% for verbose_attr, name_attr in attributes3 %}
				        <option value="{{ name_attr }}" {% if selected_attr == name_attr %}selected{% endif %}>{{ verbose_attr }}</option>
			        {% endfor %}
		        </select>
		    </div>
	    </form>
	</div>

	{% if selected_attr %}
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		<div style="width: 80%; margin: auto;">
        	<canvas id="trendChart"></canvas>
    	</div>
	    <script>
	        // Retrieve data passed from Django view (converted into JSON format)
	        var trendData = JSON.parse('{{ trend_data_json|escapejs }}');  // Convert JSON to JS object

	        // Set up the chart data for Chart.js
	        var ctx = document.getElementById('trendChart').getContext('2d');
	        var trendChart = new Chart(ctx, {
	            type: 'line',  // Line chart
	            data: {
	                labels: trendData.years,  // X-axis: Years
	                datasets: [{
	                    label: trendData.yLabel +  ' over Years',  // Dataset label
	                    data: trendData.values,  // Y-axis: Trend values (value1)
	                    borderColor: 'rgba(75, 192, 192, 1)',  // Line color
	                    backgroundColor: 'rgba(75, 192, 192, 0.2)',  // Area under the line color
	                    fill: true,  // Fill the area under the line
	                    tension: 0.1  // Smooth curve
	                }]
	            },
	            options: {
	                responsive: true,
	                scales: {
	                    x: {
	                        title: {
	                            display: true,
	                            text: 'Year'
	                        }
	                    },
	                    y: {
	                        title: {
	                            display: true,
	                            text: trendData.yLabel
	                        }
	                    }
	                }
	            }
	        });
	    </script>
	{% endif %}

	{% if selected_cat %}
		<h3>{{ table_name }}</h3>
		<div class="table-responsive">
			<table class="table table-striped">
			  <thead class="thead-dark">
				    <tr>
				    	{% for header in cat_headers %}
				    		<th scope="col">{{ header }}</th>
				    	{% endfor %}
				    </tr>
			  </thead>
			  <tbody>
			  	{% if selected_year != 'all-years' %}
			  		<tr>
				  		{% for info in cat_info %}
				      		<td>{{ info }}</td>
				      	{% endfor %}
				    </tr>
			  	{% else %}
			  		{% for info in cat_info %}
					  	<tr>
					  		{% for value in info.values %}
					      		<td>{{ value }}</td>
					      	{% endfor %}
					    </tr>
					{% endfor %}
			  	{% endif %}
			  </tbody>
			</table>
		</div>
	{% endif %}

	{% if cat_info2 %}
		<h3>{{ table_name2 }}</h3>
		<div class="table-responsive">
			<table class="table table-striped">
			  <thead class="thead-dark">
				    <tr>
				    	{% for header in cat_headers2 %}
				    		<th scope="col">{{ header }}</th>
				    	{% endfor %}
				    </tr>
			  </thead>
			  <tbody>
			  	{% if selected_year != 'all-years' %}
			  		<tr>
				  		{% for info in cat_info2 %}
				      		<td>{{ info }}</td>
				      	{% endfor %}
				    </tr>
			  	{% else %}
			  		{% for info in cat_info2 %}
					  	<tr>
					  		{% for value in info.values %}
					      		<td>{{ value }}</td>
					      	{% endfor %}
					    </tr>
					{% endfor %}
			  	{% endif %}
			  </tbody>
			</table>
		</div>
	{% endif %}

	{% if cat_info3 %}
		<h3>{{ table_name3 }}</h3>
		<div class="table-responsive">
			<table class="table table-striped">
			  <thead class="thead-dark">
				    <tr>
				    	{% for header in cat_headers3 %}
				    		<th scope="col">{{ header }}</th>
				    	{% endfor %}
				    </tr>
			  </thead>
			  <tbody>
			  	{% if selected_year != 'all-years' %}
			  		<tr>
				  		{% for info in cat_info3 %}
				      		<td>{{ info }}</td>
				      	{% endfor %}
				    </tr>
			  	{% else %}
			  		{% for info in cat_info3 %}
					  	<tr>
					  		{% for value in info.values %}
					      		<td>{{ value }}</td>
					      	{% endfor %}
					    </tr>
					{% endfor %}
			  	{% endif %}
			  </tbody>
			</table>
		</div>
	{% endif %}

	{% if cat_graph3 %}
		<!-- Load d3.js -->
		<script src="https://d3js.org/d3.v4.js"></script>

		<!-- Create a div where the graph will take place -->
		<div id="my_dataviz"></div>

		<!-- Color scale -->
		<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

		<script>

		// set the dimensions and margins of the graph
		var width = 450
		    height = 450
		    margin = 40

		// The radius of the pieplot is half the width or half the height (smallest one). I subtract a bit of margin.
		var radius = Math.min(width, height) / 2 - margin

		// append the svg object to the div called 'my_dataviz'
		var svg = d3.select("#my_dataviz")
		  .append("svg")
		    .attr("width", width)
		    .attr("height", height)
		  .append("g")
		    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

		// Create dummy data
		var data = {{ cat_graph3|safe }};

		// set the color scale
		var color = d3.scaleOrdinal()
		  .domain(data)
		  .range(d3.schemeSet2);

		// Compute the position of each group on the pie:
		var pie = d3.pie()
		  .value(function(d) {return d.value; })
		var data_ready = pie(d3.entries(data))
		// Now I know that group A goes from 0 degrees to x degrees and so on.

		// shape helper to build arcs:
		var arcGenerator = d3.arc()
		  .innerRadius(0)
		  .outerRadius(radius)

		// Build the pie chart: Basically, each part of the pie is a path that we build using the arc function.
		svg
		  .selectAll('mySlices')
		  .data(data_ready)
		  .enter()
		  .append('path')
		    .attr('d', arcGenerator)
		    .attr('fill', function(d){ return(color(d.data.key)) })
		    .attr("stroke", "black")
		    .style("stroke-width", "2px")
		    .style("opacity", 0.7)

		// Now add the annotation. Use the centroid method to get the best coordinates
		svg
		  .selectAll('mySlices')
		  .data(data_ready)
		  .enter()
		  .append('text')
		  .text(function(d){ return d.data.key })
		  .attr("transform", function(d) { return "translate(" + arcGenerator.centroid(d) + ")";  })
		  .style("text-anchor", "middle")
		  .style("font-size", 17)


		</script>
	{% endif %}
	
{% endblock %}