{% extends 'base.html' %}

{% block content %}

	<h1>School View for {{ school_info.school_name }}</h1>

	<br></br>

	<div class="container">
    
	    <form method="GET" action="{% url 'year_view_school' school_id=school_info.school_id %}">
	        <div class="form-group">
	            <label for="yearSelectSchool">Choose Year</label>
	            <select class="form-control" id="yearSelectSchool" name="yearSchool" onchange="this.form.submit()">
	            	<option value="all-years" {% if selected_year == 'all-years' %}selected{% endif %}>All Years</option>
	                <option value="2022-2023" {% if selected_year == '2022-2023' %}selected{% endif %}>2022-2023</option>
	                <option value="2021-2022" {% if selected_year == '2021-2022' %}selected{% endif %}>2021-2022</option>
	                <option value="2020-2021" {% if selected_year == '2020-2021' %}selected{% endif %}>2020-2021</option>
	            </select>
	        </div>
	    </form>
	</div>

	{% if fast_facts %}
	<br></br>
	<h3>Contact Information:</h3>
	<div class="table-responsive">
		<table class="table table-striped">
		  <thead class="thead-dark">
		    <tr>
		    	{% if selected_year == NULL or selected_year == 'all-years' %}
		    		<th scope="col">Year</th>
		    	{% endif %}
		      <th scope="col">Street</th>
		      <th scope="col">City</th>
		      <th scope="col">State</th>
		      <th scope="col">Zip Code</th>
		      <th scope="col">Website</th>
		      <th scope="col">Phone Number</th>
		      <th scope="col">Enrollment</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{% for facts in fast_facts %}
		    <tr>
		    	{% if selected_year == NULL or selected_year == 'all-years' %}
		    		<td>{{ facts.year }}</td>
		    	{% endif %}
		      <td>{{ facts.street_address }}</td>
		      <td>{{ facts.city_address }}</td>
		      <td>{{ facts.state_address }}</td>
		      <td>{{ facts.zip_code }}</td>
		      <td>{{ facts.website }}</td>
		      <td>{{ facts.phone_number }}</td>
		      <td>{{ facts.enrollment }}</td>
		    </tr>
		    {% endfor %}
			
		

		  </tbody>
		</table>
		<div style="width: 300px; height: 300px;">
		<canvas id="chartjs-pie" ></canvas>
	</div>
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        new Chart(document.getElementById("chartjs-pie"), {
            type: "pie",
            data: {
                labels: ["Male", "Female"],
                datasets: [{
                    data: [260, 125],
                    backgroundColor: [
                        "#007bff",  
                        "#28a745"
                    ],
                    borderColor: "transparent"
                }]
            },
            options: {
                maintainAspectRatio: false,
                cutoutPercentage: 65,
				respnsive: true,
				scales:{

				}
            }
        });
    });
	 
		</script>
	

	</div>
	{% endif %}

	
{% endblock %}